{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Students</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">student.id</th>
                <th scope="col">student.user.firstName</th>
                <th scope="col">student.user.lastName</th>
                <th scope="col">student.campus.label</th>
                <th scope="col">student.level.label</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.user.firstName }}</td>
                <td>{{ student.user.lastName }}</td>
                <td>{{ student.campus.label }}</td>
                <td>{{ student.level.label ?? '-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
