{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<h1>{{ 'educational_coordinator.module.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">module.id</th>
            <th scope="col">module.label</th>
            <th scope="col">module.speciality</th>
            <th scope="col">module.ects</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td><a href="{{ path('app.educational_coordinator.module.show', {'id': module.id} ) }}">{{ module.id }}</a></td>
            <td>{{ module.label }}</td>
            <td>{{ module.speciality ?? '-' }}</td>
            <td>{{ module.ects ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
