{% extends 'base.html.twig' %}

{% block title %}{{ 'educational_coordinator.module.title.index'|trans }}{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>{{ 'educational_coordinator.module.title.index'|trans }}</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'educational_coordinator.module.table.name'|trans }}</th>
                            <th scope="col">{{ 'educational_coordinator.module.table.speciality'|trans }}</th>
                            <th scope="col">{{ 'educational_coordinator.module.table.ects'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td><a href="{{ path('app.educational_coordinator.module.show', {'id': module.id} ) }}">{{ module.label }}</a></td>
                                {% if module.speciality == 1 %}
                                    <td>{{ 'educational_coordinator.module.misc.yes'|trans }}</td>
                                {% else %}
                                    <td>{{ 'educational_coordinator.module.misc.no'|trans }}</td>
                                {% endif %}
                                <td>{{ module.ects ?? '-' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
