{% extends 'base.html.twig' %}

{% block title %}{{ 'educational_coordinator.module.title.show'|trans({ 'module': module.label }) }}{% endblock %}

{% block body %}
    <div class="container">       
        <header class="animated bounceInDown">
            <h1><b>{{ 'educational_coordinator.module.title.show'|trans({ 'module': module.label }) }}</b></h1><br />
        </header>                
        <div class="container">              
            {% if module.speciality %}
                <p>{{ 'educational_coordinator.module.misc.description_speciality'|trans({ 'module': module.label, 'ects': module.ects }) }}</p>
            {% else %}
                <p>{{ 'educational_coordinator.module.misc.description'|trans({ 'module': module.label, 'ects': module.ects }) }}</p>
            {% endif %}

            <p>{{ 'educational_coordinator.module.misc.instructors'|trans }}:</p>
            <ul>
                {% for instructor in instructors %}
                    <li>{{ instructor.user.email }}</li>
                {% endfor %}
            </ul>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="container">    
                    <header class="animated bounceInDown">
                        <h4><b>{{ 'educational_coordinator.module.misc.grades'|trans }}:</b></h4>
                    </header>                                                                    
                        <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">{{ 'educational_coordinator.module.table.student'|trans }}</th>
                                    <th scope="col">{{ 'educational_coordinator.module.table.grade'|trans }}</th>
                                    <th scope="col">{{ 'educational_coordinator.module.table.result'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.user.firstName }} {{ student.user.lastName }}</td>
                                    
                                    {% if grades[student.user.userIdentifier].grade is defined and grades[student.user.userIdentifier].grade is not null %}
                                        <td>{{ grades[student.user.userIdentifier].grade }}</td>
                                        <td>{{ grades[student.user.userIdentifier].grade > 10 ? 'educational_coordinator.module.misc.accepted'|trans : 'educational_coordinator.module.misc.fail'|trans }}</td>
                                    {% else %}
                                        <td>-</td>
                                        <td>-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
