{% extends 'base.html.twig' %}

{% block title %}{{ 'educational_coordinator.dashboard.title.index'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('full_calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('full_calendar') }}
{% endblock %}


{% block body %}

<section id="services" class="section-bg">
    <div class="container">
            <header class="section-header animated bounceInDown">
                <h2><b>{{ 'educational_coordinator.dashboard.misc.welcome'|trans }} <span style="color:#2282ff">{{ 'educational_coordinator.dashboard.title.role'|trans }}</span></b></h2><br /><br />
            </header>
            <div class="row">
                
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.educational_coordinator.student.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-note2" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'educational_coordinator.dashboard.misc.student_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.educational_coordinator.module.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-note2" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'educational_coordinator.dashboard.misc.module_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.educational_coordinator.instructor.index')}}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-note2" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'educational_coordinator.dashboard.misc.instructor_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.educational_coordinator.company.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-note2" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'educational_coordinator.dashboard.misc.company_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
</section>

{{ include('_planning.html.twig', { url: path('app.educational_coordinator.planning_events.index') }) }}

{% endblock %}
