{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.instructor.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.instructor.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.instructor.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.instructor.table.email'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructors %}
        <tr>
            <td><a href="{{ path('app.admin.instructor.show', {'id': instructor.id} ) }}">{{ instructor.id }}</a></td>
            <td>{{ instructor.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
