{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.instructor.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.instructor.misc.id'|trans }}:</b> {{ instructor.id }}</li>
    <li><b>{{ 'admin.instructor.misc.email'|trans }}:</b> {{ instructor.user.email }}</li>
    <li><b>{{ 'admin.instructor.misc.modules'|trans }}:</b>
        <ul>
        {% if instructor.modules is empty %}
            <li>-</li>
        {% else %}
            {% for module in instructor.modules %}
                <li>{{ module.label }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
    <li><b>{{ 'admin.instructor.misc.sections'|trans }}:</b>
        <ul>
        {% if instructor.sections is empty %}
            <li>-</li>
        {% else %}
            {% for section in instructor.sections %}
                <li>{{ section.label }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
