{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.student.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.student.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.student.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.student.table.firstname'|trans }}</th>
            <th scope="col">{{ 'admin.student.table.lastname'|trans }}</th>
            <th scope="col">{{ 'admin.student.table.campus'|trans }}</th>
            <th scope="col">{{ 'admin.student.table.level'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td><a href="{{ path('app.admin.student.show', {'id': student.id} ) }}">{{ student.id }}</a></td>
            <td>{{ student.user.firstName ?? '-' }}</td>
            <td>{{ student.user.lastName ?? '-' }}</td>
            <td>{{ student.campus.label ?? '-' }}</td>
            <td>{{ student.level.label ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
