{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<div class="container">       
    <header class="animated bounceInDown">
        <h1><b>{{ 'accounts.student.misc.informations_about'|trans({'firstname': student.user.firstName|capitalize, 'lastname': student.user.lastName|upper}) }}</b></h1><br />
    </header>                
    <div class="container">  
        <p>
            {{ 'accounts.student.misc.born'|trans({ 'firstname': student.user.firstName, 'lastname': student.user.lastName, 'dob': student.dateOfBirth|date('d/m/Y') }) }}<br/>
            {{ 'accounts.student.misc.live_in'|trans({ 'region': student.region.name ?? '-', 'address': student.address ?? '-', 'campus': student.campus.label, 'level': student.level.label ?? '-' }) }}<br/>
            {{ 'accounts.student.misc.entry'|trans({ 'entryYear': student.entryYear ?? '-', 'entryLevel': student.entryLevel.label ?? '-' }) }}<br/>
            
            {% if student.exitYear %}
            {{ 'accounts.student.misc.exit'|trans({ 'exitYear': student.exitYear ?? '', 'exitLevel': student.exitLevel.label ?? '' }) }}<br/>
            {% endif %}
            
            {{ 'accounts.student.misc.last_diploma'|trans({ 'diploma': student.lastDiploma.label ?? '-' }) }}
        </p>
        
        {% if student.professionalTrainingContract == 1 %}
            <p>{{ 'accounts.student.misc.is_training_contract_yes'|trans }}</p>
        {% endif %}

        {% if student.companyTrainingContract and student.companyTrainingContract.name is not empty %}
            <p>{{ 'accounts.student.misc.training_contract'|trans({ 'company': student.companyTrainingContract.name, 'startDate': student.dateStartContract|date('d/m/Y') }) }}</p>
        {% endif %}

        {% if student.accountsPaid == 1 %}
            <p>{{ 'accounts.student.misc.payment_type'|trans({ 'type': student.accountsPaymentType.label ?? '-' }) }}</p>
        {% endif %}

        {% if student.accountsPaymentDue is not null %}
            <p>{{ 'accounts.student.misc.payment_remain'|trans({'due': student.accountsPaymentDue }) }}</p>
        {% endif %}

        {% if student.accountsReminded == 1 %}
            <p>{{ 'accounts.student.misc.reminded'|trans }}</p>
        {% endif %}

        <a class="btn btn-primary" href="{{ path('app.accounts.student.document', { 'id': student.id }) }}" style="background-color:#1D62F0;color:white;border:none;">{{ 'accounts.student.misc.view_documents'|trans }}</a>

        {{ form_start(commentForm) }}
            <div  style="width:70%;margin-left: auto;margin-right: auto;margin-top:60px">
                {{ form_row(commentForm.comment) }}
                <button type="submit" class="btn btn-primary" style="background-color:#1D62F0;color:white;border:none;">{{ 'form.misc.save'|trans }}</button>
            </div>
        {{ form_end(commentForm)}}

        <ul class="mt-3">
            {% for comment in comments %}
            <li><i>{{ comment.createdAt|date('d-m-Y H:i') }}</i> - {{ comment.comment }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
