{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<div class="container">       
    <header class="animated bounceInDown">
        <h1><b>Informations sur {{ student.user.lastname ?? '-' }} {{ student.user.firstname ?? '-' }}</b></h1><br />
    </header>                
    <div class="container">  
        <p>
            L'étudiant {{ student.user.lastname ?? '-' }} {{ student.user.firstname ?? '-' }} ( {{ student.user.email }} ) est née le {{ student.dateOfBirth is empty ? '-' : student.dateOfBirth|date('d/m/Y') }}.<br/>
            {{ student.user.lastname ?? '-' }} {{ student.user.firstname ?? '-' }} vit en {{ student.region.name ?? '-' }} au {{ student.address ?? '-' }} et se trouve dans le campus {{ student.campus.label ?? '-' }} {{ student.level.label ?? '' is empty ? '' : 'en ' ~ student.level.label }}.<br />
            L'étudiant est entré en {{ student.entryYear ?? '-' }} dans la promo {{ student.entryLevel.label ?? '-' }} {{ student.exitYear ?? '' is empty ? '' : ' et a terminé son cursus en ' ~ student.exitYear }} {{ student.exitLevel.label ?? '' is empty ? '' : ' dans la promo ' ~ student.exitLevel.label }}.<br />
            Son dernier diplôme est le {{ student.lastDiploma.label ?? '-' }}.
        </p>
        
        {% if student.companyTrainingContract.name ?? '' is not empty %}
            <p>Il est en contrat pro avec {{ student.companyTrainingContract.name ?? '' }} depuis le {{ student.dateStartContract|date('d/m/Y') }}.</p>
        {% endif %}

        {% if student.professionalTrainingContract == 1 %}
            <p>Il est en contrat de formation professionnelle.</p>
        {% endif %}

        {% if student.accountsPaid == 1 %}
            <p>Sa scolarité est payé en {{ student.accountsPaymentType.label ?? '-' }}.</p>
        {% endif %}

        {% if student.accountsPaymentDue ?? '' is not null %}
            <p>Il reste {{ student.accountsPaymentDue }} € a régler pour cet étudiant.</p>
        {% endif %}

        {% if student.accountsReminded == 1 %}
            <p>Compte rappelé : student.accountsReminded.</p>
        {% endif %}

        {{ form_start(commentForm) }}
            <div  style="width:70%;margin-left: auto;margin-right: auto;margin-top:60px">
                {{ form_row(commentForm.comment) }}
                <button type="submit" class="btn btn-primary" style="background-color:#1D62F0;color:white;border:none;">{{ 'form.misc.save'|trans }}</button>
            </div>
        {{ form_end(commentForm)}}

        <ul>
            {% for comment in comments %}
            <li><i>{{ comment.createdAt|date('d-m-Y à H:i') }}</i> - {{ comment.comment }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
