{% extends 'base.html.twig' %}

{% block title %}{{ 'accounts.dashboard.title.index'|trans }} {{ 'accounts.dashboard.title.role'|trans }}{% endblock %}

{% block body %}
        <section id="services" class="section-bg">
            <div class="container">
                <header class="section-header animated bounceInDown">
                    <h2><b>{{ 'accounts.dashboard.misc.welcome'|trans }} <span style="color:#2282ff">{{ 'accounts.dashboard.title.role'|trans }} </span></b></h2><br /><br />
                </header>
                <div class="row">
                    
                    <div class="col-md-12 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
                        <a href="{{ path('app.accounts.student.index') }}">
                            <div class="box">
                                <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-note2" style="color: #3fcdc7;font-size:28px;margin-top:4px"></i></div>
                                <h4 class="title">{{ 'accounts.dashboard.misc.student_list'|trans }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
