{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.campus.title.show'|trans }} {{ campus.label }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'academic_director.campus.misc.id'|trans }}:</b> {{ campus.id }}</li>
    <li><b>{{ 'academic_director.campus.misc.label'|trans }}:</b> {{ campus.label }}</li>
    <li><b>{{ 'academic_director.campus.misc.city'|trans }}:</b> {{ campus.city ?? '-' }}</li>
    <li><b>{{ 'academic_director.campus.misc.nb_student'|trans }}:</b>
        <ul>
            {% for level in levels %}
                <li>{{ level.label }}: {{ nbStudents[level.label] ?? '0' }}</li>
            {% endfor %}
            <li>{{ 'academic_director.campus.misc.other'|trans }}: {{ nbStudents[''] ?? '0' }}</li>
        </ul>
    </li>
    <li><b>{{ 'academic_director.campus.misc.sections'|trans }}:</b>
        <ul>
            {% for section in campus.sections %}
                <li>{{ section.label }}:
                    <ul><b>{{ 'academic_director.campus.misc.instructors'|trans }}:</b>
                        {% for instructor in section.instructors %}
                           <li>{{ instructor.user.email }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li><b>{{ 'academic_director.campus.misc.students'|trans }}:</b>
        <ul>
            {% for student in campus.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}
