{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.campus.title.index'|trans }}{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>{{ 'admin.campus.title.index'|trans }}</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'admin.campus.table.label'|trans }}</th>
                            <th scope="col">{{ 'admin.campus.table.city'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campus in campus %}
                        <tr>
                            <td><a href="{{ path('app.admin.campus.show', {'id': campus.id} ) }}">{{ campus.label }}</a></td>
                            <td>{{ campus.city ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
