{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.campus.title.show'|trans }}{% endblock %}

{% block body %}
    <div class="container">       
        <header class="animated bounceInDown">
            <h1><b>{{ 'admin.campus.misc.details_of'|trans({ 'label': campus.label }) }}</b></h1><br />
        </header>                
        <div class="container">
            {% if campus.city %}
                <p>{{ 'admin.campus.misc.location'|trans({ 'label': campus.label, 'city': campus.city }) }}</p>
            {% else %}
                <p>{{ 'admin.campus.misc.no_location'|trans({ 'label': campus.label }) }}</p>
            {% endif %}

            {% if campus.sections is not empty %}
                <p>{{ 'admin.campus.misc.sections'|trans }}:</p>
                {% for section in campus.sections %}
                    <ul>
                        <li>{{ section.label }}</li>
                    </ul>
                {% endfor %}
            {% endif %}

            {% if campus.staff is not empty %}
                <p>{{ 'admin.campus.misc.staff'|trans }}:</p>
                {% for staff in campus.staff %}
                    <ul>
                        <li>{{ staff.user.email }}</li>
                    </ul>
                {% endfor %}
            {% endif %}


            {% if campus.students is not empty %}
                <p>{{ 'admin.campus.misc.students'|trans }}</p>
                {% for student in campus.students %}
                    <ul>
                        <li>{{ student.user.email }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
