{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.instructor.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'academic_director.instructor.title.index'|trans }}</h1>

<ul>
    {% for instructor in instructors %}
        <li>{{ instructor.user.firstName }} {{ instructor.user.lastName }} (<a href="mailto:{{ instructor.user.email }}">{{ instructor.user.email }}</a>):
            <ul>
                {% for module in instructor.modules %}
                    <li>{{ module.label }}</li>
                {% endfor %}
            </ul>

            <ul>
                {% for section in instructor.sections %}
                    <li>{{ section.campus.label }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
