{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.module.title.show'|trans }} {{ module.label }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'academic_director.module.misc.id'|trans }}:</b> {{ module.id }}</li>
    <li><b>{{ 'academic_director.module.misc.label'|trans }}:</b> {{ module.label }}</li>
    <li><b>{{ 'academic_director.module.misc.speciality'|trans }}:</b> {{ module.speciality }}</li>
    <li><b>{{ 'academic_director.module.misc.ects'|trans }}:</b> {{ module.ects }}</li>
    <li><b>{{ 'academic_director.module.misc.instructors'|trans }}:</b>
        <ul>
            {% for instructor in instructors %}
                <li>{{ instructor.user.email }}
                    <ul>
                        {% for section in instructor.sections %}
                            <li>{{ section.campus.label }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li><b>{{ 'academic_director.module.misc.students'|trans }}:</b>
        <ul>
            {% for student in students %}
                <li>
                    [{{ student.campus.label }}] {{ student.user.firstName }} {{ student.user.lastName }}: 
                    {% if grades[student.user.userIdentifier].grade is defined and grades[student.user.userIdentifier].grade is not null %}
                        {{ grades[student.user.userIdentifier].grade }} → {{ grades[student.user.userIdentifier].grade > 10 ? 'educational_coordinator.module.misc.accepted'|trans : 'educational_coordinator.module.misc.fail'|trans }}
                    {% else %}    
                        -
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}
