{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.thesis.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'academic_director.thesis.misc.id'|trans }}:</b> {{ thesis.id }}</li>
    <li><b>{{ 'academic_director.thesis.misc.student'|trans }}:</b> {{ thesis.student.user.firstName }} {{ thesis.student.user.lastName|upper }} ({{ thesis.student.user.email }})</li>
    <li><b>{{ 'academic_director.thesis.misc.delivered'|trans }} ?:</b> {{ thesis.delivered ? 'academic_director.thesis.misc.yes'|trans : 'academic_director.thesis.misc.no'|trans }}</li>
    <li><b>{{ 'academic_director.thesis.misc.subject'|trans }}:</b> {{ thesis.subject }}</li>
    <li><b>{{ 'academic_director.thesis.misc.remark'|trans }}:</b> {{ thesis.remark }}</li>
</ul>
{% endblock %}
