{% extends 'base.html.twig' %}

{% block title %}Hello AcademicDirectorController!{% endblock %}

{% block body %}
    <section id="services" class="section-bg">
        <div class="container">
            <header class="section-header animated bounceInDown">
                <h2><b>Bienvenue <span style="color:#2282ff">{{ 'academic_director.dashboard.title.role'|trans }}</span></b></h2><br /><br />
            </header>

            <div class="row">
                
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.academic_director.student.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'academic_director.dashboard.misc.student_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.academic_director.module.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'academic_director.dashboard.misc.module_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.academic_director.instructor.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'academic_director.dashboard.misc.instructor_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.academic_director.partnership.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'academic_director.dashboard.misc.partnership_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <a href="{{ path('app.academic_director.thesis.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'academic_director.dashboard.misc.thesis_list'|trans }}</h4>
                        </div>
                    </a>
                </div>
         
            </div>
        </div>
    </section>
    </div>
</div>

{% endblock %}
