{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.region.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.region.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.region.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.region.table.name'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for region in regions %}
        <tr>
            <td><a href="{{ path('app.admin.region.show', {'id': region.id} ) }}">{{ region.id }}</a></td>
            <td>{{ region.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
