{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.region.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.region.misc.id'|trans }}:</b> {{ region.id }}</li>
    <li><b>{{ 'admin.region.misc.name'|trans }}:</b> {{ region.name }}</li>
    <li><b>{{ 'admin.region.misc.students'|trans }}:</b>
        <ul>
        {% if region.students is empty %}
            <li>-</li>
        {% else %}
            {% for student in region.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
