{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<h1>Companies</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">campus.id</th>
            <th scope="col">campus.name</th>
            <th scope="col">campus.address</th>
            <th scope="col">campus.sector</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td><a href="{{ path('app.admin.company.show', {'id': company.id} ) }}">{{ company.id }}</a></td>
            <td>{{ company.name }}</td>
            <td>{{ company.address ?? '-' }}</td>
            <td>{{ company.sector ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
