{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.company.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.company.misc.id'|trans }}:</b> {{ company.id }}</li>
    <li><b>{{ 'admin.company.misc.name'|trans }}:</b> {{ company.name }}</li>
    <li><b>{{ 'admin.company.misc.address'|trans }}:</b> {{ company.address ?? '-' }}</li>
    <li><b>{{ 'admin.company.misc.sector'|trans }}:</b> {{ company.sector ?? '-' }}</li>
    <li><b>{{ 'admin.company.misc.students_training_contract'|trans }}:</b>
        <ul>
        {% if company.studentsTrainingContract is empty %}
            <li>-</li>
        {% else %}
            {% for studentTrainingContract in company.studentsTrainingContract %}
                <li>{{ studentTrainingContract.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
    <li><b>{{ 'admin.company.misc.students_hired'|trans }}:</b>
        <ul>
        {% if company.studentsCompanyHired is empty %}
            <li>-</li>
        {% else %}
            {% for studentCompanyHired in company.studentsCompanyHired %}
                <li>{{ studentCompanyHired.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
