{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<h1>{{ 'educational_coordinator.company.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'educational_coordinator.company.table.id'|trans }}</th>
            <th scope="col">{{ 'educational_coordinator.company.table.name'|trans }}</th>
            <th scope="col">{{ 'educational_coordinator.company.table.sector'|trans }}</th>
            <th scope="col">{{ 'educational_coordinator.company.table.nb_student_training_contract'|trans }}</th>
            <th scope="col">{{ 'educational_coordinator.company.table.nb_student_hired'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td><a href="{{ path('app.educational_coordinator.company.show', {'id': company.id}) }}">{{ company.id }}</a></td>
            <td>{{ company.name }}</td>
            <td>{{ company.sector ?? '-' }}</td>
            <td>{{ nbStudentsInTrainingContract[company.name] ?? '0' }}</td>
            <td>{{ nbStudentsHired[company.name] ?? '0' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
