{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>{{ 'educational_coordinator.company.title.index'|trans }}</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'educational_coordinator.company.table.name'|trans }}</th>
                            <th scope="col">{{ 'educational_coordinator.company.table.sector'|trans }}</th>
                            <th scope="col">{{ 'educational_coordinator.company.table.nb_student_training_contract'|trans }}</th>
                            <th scope="col">{{ 'educational_coordinator.company.table.nb_student_hired'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td><a href="{{ path('app.educational_coordinator.company.show', {'id': company.id}) }}">{{ company.name }}</a></td>
                            <td>{{ company.sector ?? '-' }}</td>
                            <td>{{ nbStudentsInTrainingContract[company.name] ?? '0' }}</td>
                            <td>{{ nbStudentsHired[company.name] ?? '0' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
