{% extends 'base.html.twig' %}

{% block title %}{{ 'educational_coordinator.company.title.show'|trans({ 'company': company.name }) }}{% endblock %}

{% block body %}

<div class="container"> 
    <header class="animated bounceInDown">
        <h1><b>{{ 'educational_coordinator.company.title.show'|trans({ 'company': company.name }) }}</b> ({{ company.sector ?? '' }})</h1><br />
    </header>  
    <div class="container"> 
        {% if studentsHired is not empty %}
            <p>{{ 'educational_coordinator.company.misc.student_hired'|trans }}:</p>
            <ul>
                {% for student in studentsHired %}
                    <li>{{ student.user.firstName }} {{ student.user.lastName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'educational_coordinator.company.misc.no_student_hired'|trans }}</p>
        {% endif %}
        {% if studentsInTrainingContract is not empty %}
            <p>{{ 'educational_coordinator.company.misc.training_contract'|trans }}:</p>
            <ul>
                {% for student in studentsInTrainingContract %}
                    <li>{{ student.user.firstName }} {{ student.user.lastName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'educational_coordinator.company.misc.no_training_contract'|trans }}</p>
        {% endif %}
        {% if company.address is not empty %}
            <p>{{ 'educational_coordinator.company.misc.address'|trans }}: {{ company.address }}.</p>
        {% endif %}
    </div>
</div>
    
{% endblock %}
