{% extends 'base.html.twig' %}

{% block title %}Hello AcademicDirectorController!{% endblock %}

{% block body %}
<h1>{{ 'academic_director.student.title.home'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'academic_director.student.table.id'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.first_name'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.last_name'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.campus'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.level'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.company'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.email'|trans }}</th>
            <th scope="col">{{ 'academic_director.student.table.sct'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td><a href="{{ path('app.academic_director.student.show', {'id': student.id}) }}">{{ student.id }}</a></td>
            <td>{{ student.user.firstName ?? '-' }}</td>
            <td>{{ student.user.lastName ?? '-' }}</td>
            <td>{{ student.campus.label ?? '-' }}</td>
            <td>{{ student.level.label ?? '-' }}</td>
            <td>{{ student.companyTrainingContract.name ?? '-' }}</td>
            <td><a href="mailto:{{ student.user.email }}" target="_blank">{{ student.user.email }}</a></td>
            <td>{{ student.isSCT ? 'academic_director.student.misc.yes'|trans : 'academic_director.student.misc.no'|trans }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
