{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.student.title.show'|trans }} {{ student.user.email }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'academic_director.student.misc.id'|trans }}:</b> {{ student.id }}</li>
    <li><b>{{ 'academic_director.student.misc.email'|trans }}:</b> {{ student.user.email }}</li>
    <li><b>{{ 'academic_director.student.misc.firstname'|trans }}:</b> {{ student.user.firstname ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.lastname'|trans }}:</b> {{ student.user.lastname ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.campus'|trans }}:</b> {{ student.campus.label ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.level'|trans }}:</b> {{ student.level.label ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.company_training_contract'|trans }}:</b> {{ student.companyTrainingContract.name ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.date_start_contract'|trans }}:</b> {{ student.dateStartContract is empty ? '-' : student.dateStartContract|date('d-m-Y') }}</li>
    <li><b>{{ 'academic_director.student.misc.date_of_birth'|trans }}:</b> {{ student.dateOfBirth is empty ? '-' : student.dateOfBirth|date('d-m-Y') }}</li>
    <li><b>{{ 'academic_director.student.misc.gender'|trans }}:</b> {{ student.gender.label ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.region'|trans }}:</b> {{ student.region.name ?? '-' }}</li>
    <li><b>{{ 'academic_director.student.misc.grades'|trans }}:</b>
        <ul>
            {% for module in modules %}
                <li>{{ module.label }}:</u>
                    {% if grades[module.label] is defined %}
                        {{ grades[module.label] }} - {{ grades[module.label] > 10 ? 'educational_coordinator.student.misc.accepted'|trans : 'educational_coordinator.student.misc.fail'|trans }}
                    {% else %}
                        -
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
    <li><b>{{ 'academic_director.student.misc.speciality'|trans }}:</b> {{ student.speciality.label ?? '-' }}</li>
    <li>
        <b>{{ 'academic_director.student.misc.absences'|trans }}:</b> {{ student.absences|length }}
        <ul>
            {% for absence in student.absences %}
                <li>{{ absence.date|date('d/m/Y') }} {{ absence.period }} : {{ absence.excuse ?? '-' }}</li>
            {% endfor %}
        </ul>
    </li>
    <li><b>{{ 'academic_director.student.misc.is_sct'|trans }} ?:</b> {{ student.isSCT ? 'educational_coordinator.student.misc.yes'|trans : 'educational_coordinator.student.misc.no'|trans }}</li>
    <li><b>{{ 'academic_director.student.misc.report_card_list'|trans }}:</b>
        <ul>
        {% for level in levels %}
            <li><a href="{{ path('app.academic_director.report_card.show', {'student': student.id, 'level': level.id}) }}">{{ level.label }}</a></li>
        {% endfor %}
        </ul>
    </li>
    <li><b>{{ 'academic_director.student.misc.ects'|trans }}:</b>
        <ul>
            <li><u>{{ 'academic_director.student.misc.current_ects'|trans }}:</u> {{ studentEcts.currentEcts }}</li>
            <li><u>{{ 'academic_director.student.misc.current_needed_ects'|trans }}:</u> {{ studentEcts.currentNeededEcts }}</li>
            <li><u>{{ 'academic_director.student.misc.max_ects'|trans }}:</u> {{ studentEcts.maxEcts }}</li>
            <li><u>{{ 'academic_director.student.misc.max_needed_ects'|trans }}:</u> {{ studentEcts.maxNeededEcts }}</li>
        </ul>
    </li>
</ul>
{% endblock %}
