{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.thesis.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.thesis.misc.id'|trans }}:</b> {{ thesis.id }}</li>
    <li><b>{{ 'admin.thesis.misc.student'|trans }}:</b> {{ thesis.student.user.firstName ?? '-' }} {{ thesis.student.user.lastName ?? '-' }}</li>
    <li><b>{{ 'admin.thesis.misc.subject'|trans }}:</b> {{ thesis.subject ?? '-' }}</li>
    <li><b>{{ 'admin.thesis.misc.delivered'|trans }}:</b> {{ thesis.delivered ? 'admin.thesis.misc.yes'|trans : 'admin.thesis.misc.no'|trans }}</li>
    <li><b>{{ 'admin.thesis.misc.remark'|trans }}:</b> {{ thesis.remark ?? '-' }}</li>
</ul>
{% endblock %}
