{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.etl.data_source.title.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.etl.data_source.title.edit'|trans }}</h1>

    {{ include('admin/etl/data_source/_form.html.twig', {'button_label': 'form.misc.update'|trans}) }}

    <a href="{{ path('app.admin.etl.data_source.index') }}">{{ 'form.misc.back_to_list'|trans }}</a>

    {{ include('admin/etl/data_source/_delete_form.html.twig') }}
{% endblock %}
