{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.partnership.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.partnership.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.partnership.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.partnership.table.label'|trans }}</th>
            <th scope="col">{{ 'admin.partnership.table.image_url'|trans }}</th>
            <th scope="col">{{ 'admin.partnership.table.description'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for partnership in partnerships %}
        <tr>
            <td><a href="{{ path('app.admin.partnership.show', {'id': partnership.id} ) }}">{{ partnership.id }}</a></td>
            <td>{{ partnership.label ?? '-' }}</td>
            <td>{{ partnership.imageUrl ?? '-' }}</td>
            <td>{{ partnership.description ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
