{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.partnership.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.partnership.misc.id'|trans }}:</b> {{ partnership.id }}</li>
    <li><b>{{ 'admin.partnership.misc.label'|trans }}:</b> {{ partnership.label ?? '-' }}</li>
    <li><b>{{ 'admin.partnership.misc.image_url'|trans }}:</b> {{ partnership.imageUrl ?? '-' }}</li>
    <li><b>{{ 'admin.partnership.misc.description'|trans }}:</b> {{ partnership.description ?? '-' }}</li>
</ul>
{% endblock %}
