{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.speciality.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.speciality.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.speciality.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.speciality.table.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for speciality in specialities %}
        <tr>
            <td><a href="{{ path('app.admin.speciality.show', {'id': speciality.id} ) }}">{{ speciality.id }}</a></td>
            <td>{{ speciality.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
