{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.section.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.section.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.section.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.section.table.label'|trans }}</th>
            <th scope="col">{{ 'admin.section.table.campus'|trans }}</th>
            <th scope="col">{{ 'admin.section.table.year'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <td><a href="{{ path('app.admin.section.show', {'id': section.id} ) }}">{{ section.id }}</a></td>
            <td>{{ section.label }}</td>
            <td>{{ section.campus.label ?? '-' }}</td>
            <td>{{ section.year ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
