{% extends 'base.html.twig' %}

{% block title %}Hello SectionController!{% endblock %}

{% block body %}
<h1>Sections</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">section.id</th>
            <th scope="col">section.label</th>
            <th scope="col">section.campus.label</th>
            <th scope="col">section.year</th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <td><a href="{{ path('app.admin.section.show', {'id': section.id} ) }}">{{ section.id }}</a></td>
            <td>{{ section.label }}</td>
            <td>{{ section.campus.label ?? '-' }}</td>
            <td>{{ section.year ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
