{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.section.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.section.misc.id'|trans }}:</b> {{ section.id }}</li>
    <li><b>{{ 'admin.section.misc.label'|trans }}:</b> {{ section.label }}</li>
    <li><b>{{ 'admin.section.misc.campus'|trans }}:</b> {{ section.campus.label ?? '-' }}</li>
    <li><b>{{ 'admin.section.misc.year'|trans }}:</b> {{ section.year ?? '-' }}</li>
    <li><b>{{ 'admin.section.misc.instructors'|trans }}:</b>
        <ul>
        {% if section.instructors is empty %}
            <li>-</li>
        {% else %}
            {% for instructor in section.instructors %}
                <li>{{ instructor.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
