{# Determine ordinal number abbreviation #}
{% if module.level.numericLevel == 1 %}
    {% set th = 'misc.abbr_first'|trans %}
{% elseif module.level.numericLevel == 2 %}
    {% set th = 'misc.abbr_second'|trans %}
{% elseif module.level.numericLevel == 3 %}
    {% set th = 'misc.abbr_third'|trans %}                       
{% else %}
    {% set th = 'misc.abbr_th'|trans %}                       
{% endif %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'student.module.title.show'|trans({ 'module': module.label }) }}{% endblock %}

{% block body %}
    <div class="container">       
        <header class="animated bounceInDown">
            <h1><b>{{ 'student.module.title.show'|trans({ 'module': module.label }) }}</b></h1><br />
        </header>                
        <div class="container">  
            {% if module.speciality == 1 %}
                <p>{{ 'student.module.misc.description_speciality'|trans({ 'module': module.label, 'n': module.level.numericLevel ?? '-', 'th': th }) }}</p>
            {% else %}
                <p>{{ 'student.module.misc.description'|trans({ 'module': module.label, 'n': module.level.numericLevel ?? '-', 'th': th }) }}</p>
            {% endif %}   

            {% if grade %}
                <p>{{ 'student.module.misc.graded'|trans({ 'grade': grade.grade }) }}</p>
            {% else %}
                <p>{{ 'student.module.misc.not_graded'|trans }}</p>
            {% endif %}  

            {% if module.instructors is empty %}
                <p>{{ 'student.module.misc.not_instructor'|trans }}</p>
            {% else %}
                <p>{{ 'student.module.misc.instructors'|trans }}:</p>
                <ul>
                    {% for instructor in module.instructors %}
                        <li>{{ instructor.user.firstname ?? '-' }} {{ instructor.user.lastname ?? '-' }} (<a href="mailto:{{ instructor.user.email }}">{{ instructor.user.email }}</a>)</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
