{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.level.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.level.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.level.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.level.table.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for level in levels %}
        <tr>
            <td><a href="{{ path('app.admin.level.show', {'id': level.id} ) }}">{{ level.id }}</a></td>
            <td>{{ level.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
