{% set entities = [
    ['company', 'admin.dashboard.entity.companies'|trans],
    ['campus', 'admin.dashboard.entity.campus'|trans],
    ['diploma', 'admin.dashboard.entity.diplomas'|trans],
    ['gender', 'admin.dashboard.entity.genders'|trans],
    ['grade', 'admin.dashboard.entity.grades'|trans],
    ['instructor', 'admin.dashboard.entity.instructors'|trans],
    ['level', 'admin.dashboard.entity.levels'|trans],
    ['region', 'admin.dashboard.entity.regions'|trans],
    ['section', 'admin.dashboard.entity.sections'|trans],
    ['speciality', 'admin.dashboard.entity.specialities'|trans],
    ['staff', 'admin.dashboard.entity.staffs'|trans],
    ['student', 'admin.dashboard.entity.students'|trans],
    ['user', 'admin.dashboard.entity.users'|trans],
    ['absence', 'admin.dashboard.entity.absences'|trans],
    ['module', 'admin.dashboard.entity.modules'|trans],
    ['accountsPaymentType', 'admin.dashboard.entity.accounts_payment_types'|trans],
    ['accountsStudentComment', 'admin.dashboard.entity.accounts_student_comments'|trans],
    ['partnership', 'admin.dashboard.entity.partnerships'|trans],
    ['planningEvent', 'admin.dashboard.entity.planning_events'|trans],
    ['role', 'admin.dashboard.entity.roles'|trans],
    ['thesis', 'admin.dashboard.entity.theses'|trans],
] %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.dashboard.title.index' }} {{ 'admin.dashboard.title.role' }}{% endblock %}

{% block body %}
    <section id="services" class="section-bg">
        <div class="container">
            <header class="section-header animated bounceInDown">
                <h2><b>{{ 'admin.dashboard.misc.welcome' }} <span style="color:#2282ff">{{ 'admin.dashboard.title.role'|trans }}</span></b></h2><br /><br />
            </header>

            <div class="row">
                {% for entity in entities|sort((a, b) => a[1] <=> b[1]) %}
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="{{ path('app.admin.' ~ entity[0] ~ '.index') }}">
                            <div class="box">
                                <div class="icon" style="background: #e6fdfc;"><i class="pe-7s-study" style="color: #3fcdc7;font-size:30px;margin-top:4px"></i></div>
                                <h4 class="title">{{ entity[1] }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <a href="{{ path('app.admin.etl.data_schema.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="pe-7s-server" style="color: #e98e06;font-size:28px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'admin.dashboard.misc.data_schemas'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <a href="{{ path('app.admin.etl.data_file.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="pe-7s-server" style="color: #e98e06;font-size:28px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'admin.dashboard.misc.data_files'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <a href="{{ path('app.admin.etl.import.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="pe-7s-server" style="color: #e98e06;font-size:28px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'admin.dashboard.misc.imports'|trans }}</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <a href="{{ path('app.admin.etl.export.index') }}">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="pe-7s-server" style="color: #e98e06;font-size:28px;margin-top:4px"></i></div>
                            <h4 class="title">{{ 'admin.dashboard.misc.exports'|trans }}</h4>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>
    </div>
</div>
{% endblock %}
