{% set entities = [
    ['company', 'admin.dashboard.entity.companies'|trans],
    ['campus', 'admin.dashboard.entity.campus'|trans],
    ['diploma', 'admin.dashboard.entity.diplomas'|trans],
    ['gender', 'admin.dashboard.entity.genders'|trans],
    ['grade', 'admin.dashboard.entity.grades'|trans],
    ['instructor', 'admin.dashboard.entity.instructors'|trans],
    ['level', 'admin.dashboard.entity.levels'|trans],
    ['region', 'admin.dashboard.entity.regions'|trans],
    ['section', 'admin.dashboard.entity.sections'|trans],
    ['speciality', 'admin.dashboard.entity.specialities'|trans],
    ['staff', 'admin.dashboard.entity.staffs'|trans],
    ['student', 'admin.dashboard.entity.students'|trans],
    ['user', 'admin.dashboard.entity.users'|trans],
    ['absence', 'admin.dashboard.entity.absences'|trans],
    ['module', 'admin.dashboard.entity.modules'|trans],
    ['accountsPaymentType', 'admin.dashboard.entity.accounts_payment_types'|trans],
    ['accountsStudentComment', 'admin.dashboard.entity.accounts_student_comments'|trans],
    ['partnership', 'admin.dashboard.entity.partnerships'|trans],
    ['planningEvent', 'admin.dashboard.entity.planning_events'|trans],
    ['role', 'admin.dashboard.entity.roles'|trans],
    ['thesis', 'admin.dashboard.entity.theses'|trans],
] %}

{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>{{ 'admin.dashboard.title.index'|trans }}</h1>
<h4 class="text-muted">{{ 'admin.dashboard.title.role'|trans }}</h4>

<h5>{{ 'admin.dashboard.title.entities'|trans }}</h5>
<ul>
    {% for entity in entities|sort((a, b) => a[1] <=> b[1]) %}
        <li>
            <a href="{{ path('app.admin.' ~ entity[0] ~ '.index') }}">{{ entity[1] }}</a>
        </li>
    {% endfor %}
</ul> 

<h5>{{ 'admin.dashboard.title.etl'|trans }}</h5>
<ul>
    <li><a href="{{ path('app.admin.etl.data_schema.index') }}">{{ 'admin.dashboard.misc.data_schemas'|trans }}</a></li>
    <li><a href="{{ path('app.admin.etl.data_file.index') }}">{{ 'admin.dashboard.misc.data_files'|trans }}</a></li>
    <li><a href="{{ path('app.admin.etl.import.index') }}">{{ 'admin.dashboard.misc.imports'|trans }}</a></li>
    <li><a href="{{ path('app.admin.etl.export.index') }}">{{ 'admin.dashboard.misc.exports'|trans }}</a></li>
</ul>
{% endblock %}
