{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<h1>{{ 'profile.security.title.define_password'|trans }}</h1>

{{ form_start(form) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit" class="btn btn-primary">{{ 'form.misc.set'|trans }}</button>
{{ form_end(form) }}
{% endblock %}
