{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'profile.security.title.define_password'|trans }}</h1>
        <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card-body">
                            <h3 class="card-title text-center pb-5">Entrer votre nouveau mot de passe : </h3>
                            {{ form_start(form) }}
                                <div class="form-signin">
                                    {{ form_row(form.password.first) }}
                                    {{ form_row(form.password.second) }}
                                    <div class="text-center">
                                        <button class="btn btn-primary text-uppercase" style="background-color:#1D62F0;color:white;border:none" type="submit">{{ 'form.misc.set'|trans }}</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                            <div class="my-4"></div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
{% endblock %}
