{% extends 'base.html.twig' %}

{% block body %}

    <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    
                    <div class="card-body">
             
                        <h3 class="card-title text-center pb-3">Connexion</h3>
                        <form class="form-signin" action="{{ path('app.login') }}" method="post">
                            <div class="form-label-group">
                                <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Adresse mail" required autofocus>
                                <label for="username">Adresse mail</label>
                            </div>

                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"/> #}

                            <div class="form-label-group">
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
                                <label for="password">Mot de passe</label>
                            </div>
                            
                            
                            
                            <div class="text-center">
                                <button class="btn btn-primary text-uppercase" type="submit">Se connecter</button>
                            </div>
                        </form>

                        <hr class="my-4">

                        {% if app.session.flashBag.has('invalid-email') %}
                            {% set invalidEmailFlash = app.flashes('invalid-email')[0] %}
                        {% endif %}
                        
                        <h3 class="card-title text-center pb-3">Lien de connexion</h3>
                    
                        <form class="form-signin" action="{{ path('app.login_link') }}" method="POST">
                            <div class="form-label-group">
                                <input id="email" class="form-control {{ invalidEmailFlash is defined ? 'is-invalid' }}" type="email" name="email" placeholder="Adresse mail" required autofocus>
                                <label for="email">Adresse mail</label>
                            </div>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                {{ invalidEmailFlash is defined ? invalidEmailFlash }}
                            </div>
                        
                            <div class="text-center">
                                <button class="btn btn-primary text-uppercase" type="submit">Obtenir le lien de connexion</button>
                            </div>
                        </form>

                        <div class="my-4"></div>
                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <hr class="my-4">
                        <div class="text-center">
                            <p>En continuant, vous acceptez les <a href=""><b>Conditions d'utilisation</b></a> de IONIS et reconnaissez avoir lu notre <br /><a href=""><b>Politique de confidentialité</b></a>.</p>
                        </div>
                    </div>

                </div>      
            </div>
        </div>
    </div>
    
{% endblock %}
