{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.planning_event.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.planning_event.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.planning_event.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.title'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.description'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.start'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.end'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.all_day'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.campus'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.level'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.background_color'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.border_color'|trans }}</th>
            <th scope="col">{{ 'admin.planning_event.table.text_color'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for planningEvent in planningEvents %}
        <tr>
            <td><a href="{{ path('app.admin.planningEvent.show', {'id': planningEvent.id} ) }}">{{ planningEvent.id }}</a></td>
            <td>{{ planningEvent.title ?? '-' }}</td>
            <td>{{ planningEvent.description ?? '-' }}</td>
            <td>{{ planningEvent.start ? planningEvent.start|date('d-m-Y') : '-' }}</td>
            <td>{{ planningEvent.end ? planningEvent.end|date('d-m-Y') : '-' }}</td>
            <td>{{ planningEvent.allDay ? 'admin.planning_event.misc.yes'|trans : 'admin.planning_event.misc.no'|trans }}</td>
            <td>{{ planningEvent.campus.label ?? '-' }}</td>
            <td>{{ planningEvent.level.label ?? '-' }}</td>
            <td>{{ planningEvent.backgroundColor ? planningEvent.backgroundColor|upper : '-' }}</td>
            <td>{{ planningEvent.borderColor ? planningEvent.borderColor|upper : '-' }}</td>
            <td>{{ planningEvent.textColor ? planningEvent.textColor|upper : '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
