{% extends 'base.html.twig' %}

{% block title %}Hello PlanningEventController!{% endblock %}

{% block body %}
<ul>
    <li><b>planningEvent.id:</b> {{ planningEvent.id }}</li>
    <li><b>planningEvent.title:</b> {{ planningEvent.title ?? '-' }}</li>
    <li><b>planningEvent.description:</b> {{ planningEvent.description ?? '-' }}</li>
    <li><b>planningEvent.start:</b> {{ planningEvent.start ? planningEvent.start|date('d-m-Y') : '-' }}</li>
    <li><b>planningEvent.end:</b> {{ planningEvent.end ? planningEvent.end|date('d-m-Y') : '-' }}</li>
    <li><b>planningEvent.allDay:</b> {{ planningEvent.allDay ? 'admin.planning_event.misc.yes'|trans : 'admin.planning_event.misc.no'|trans }}</li>
    <li><b>planningEvent.campus.label:</b> {{ planningEvent.campus.label ?? '-' }}</li>
    <li><b>planningEvent.level.label:</b> {{ planningEvent.level.label ?? '-' }}</li>
    <li><b>planningEvent.backgroundColor:</b> {{ planningEvent.backgroundColor ? planningEvent.backgroundColor|upper : '-' }}</li>
    <li><b>planningEvent.borderColor:</b> {{ planningEvent.borderColor ? planningEvent.borderColor|upper : '-' }}</li>
    <li><b>planningEvent.textColor:</b> {{ planningEvent.textColor ? planningEvent.textColor|upper : '-' }}</li>
</ul>
{% endblock %}
