{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.data_source.title.home'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.data_source.title.home'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.data_source.table.id'|trans }}</th>
                <th>{{ 'admin.data_source.table.label'|trans }}</th>
                <th>{{ 'admin.data_source.table.schema'|trans }}</th>
                <th>{{ 'admin.data_source.table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for data_source in data_sources %}
            <tr>
                <td>{{ data_source.id }}</td>
                <td>{{ data_source.label }}</td>
                <td>{{ data_source.equivalence ? data_source.equivalence|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app.admin.data_source.show', {'id': data_source.id}) }}">{{ 'form.misc.show'|trans }}</a>
                    <a href="{{ path('app.admin.data_source.edit', {'id': data_source.id}) }}">{{ 'form.misc.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'admin.data_source.table.no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.admin.data_source.new') }}">{{ 'form.misc.create'|trans }}</a>
{% endblock %}
