{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.data_source.title.create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.data_source.title.create'|trans }}</h1>

    {{ include('admin/data_source/_form.html.twig') }}

    <a href="{{ path('app.admin.data_source.index') }}">{{ 'form.misc.back_to_list'|trans }}</a>
{% endblock %}
