{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.data_source.title.data_source'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.data_source.title.data_source'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'admin.data_source.table.id'|trans }}</th>
                <td>{{ data_source.id }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.data_source.table.label'|trans }}</th>
                <td>{{ data_source.label }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.data_source.table.schema'|trans }}</th>
                <td>{{ data_source.equivalence ? data_source.equivalence|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app.admin.data_source.index') }}">{{ 'form.misc.back_to_list'|trans }}</a>

    <a href="{{ path('app.admin.data_source.edit', {'id': data_source.id}) }}">{{ 'form.misc.edit'|trans }}</a>

    {{ include('admin/data_source/_delete_form.html.twig') }}
{% endblock %}
