{% extends 'base.html.twig' %}

{% block title %}{{ 'educational_coordinator.student.title.show'|trans({ 'firstname': student.user.firstname ?? '-', 'lastname': student.user.lastname ?? '-' }) }}{% endblock %}

{% block body %}
    <div class="container">       
        <header class="animated bounceInDown">
            <h1><b>{{ 'educational_coordinator.student.title.show'|trans({ 'firstname': student.user.firstname ?? '-', 'lastname': student.user.lastname ?? '-' }) }}</b></h1><br />
        </header>                
        <div class="container">  
            <p>
                {{ 'educational_coordinator.student.misc.description'|trans({ 'firstname': student.user.firstname ?? '-', 'lastname': student.user.lastname ?? '-' , 'dob': student.dateOfBirth ? student.dateOfBirth|date('d/m/Y') : '' }) }}<br/>
                {{ 'educational_coordinator.student.misc.campus'|trans({ 'campus': student.campus.label ?? '-' }) }}
            </p>
            
            {% if student.companyTrainingContract.name ?? '' is empty %}
            {% else %}
                <p>{{ 'educational_coordinator.student.misc.training_contract'|trans({ 'company': student.companyTrainingContract.name ?? '-', 'date': student.dateStartContract ? student.dateStartContract|date('d/m/Y') : '-' }) }}</p>
            {% endif %}

            {% if student.absences|length > 0 %}
                <p>{{ 'educational_coordinator.student.misc.absences'|trans({ 'n': student.absences|length }) }}:</p>
                <ul>
                    {% for absence in student.absences %}
                        <li>{{ absence.date|date('d/m/Y') }} {{ absence.period }} : {{ absence.excuse ?? '-' }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ 'educational_coordinator.student.misc.no_absence'|trans }}</p>
            {% endif %}

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="container">    
                    <header class="animated bounceInDown">
                        <h4><b>{{ 'educational_coordinator.student.misc.grades'|trans }}:</b></h4>
                    </header>                                                                    
                        <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">{{ 'educational_coordinator.student.table.module'|trans }}</th>
                                    <th scope="col">{{ 'educational_coordinator.student.table.grade'|trans }}</th>
                                    <th scope="col">{{ 'educational_coordinator.student.table.result'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for module in modules %}
                                <tr>
                                    <td>{{ module.label }}</td>
                                    <td>{{ grades[module.label] ?? '-' }}</td>
                                    {% if grades[module.label] is defined %}
                                        <td>{{ grades[module.label] ?? '-' > 10 ? 'educational_coordinator.student.misc.accepted'|trans : 'educational_coordinator.student.misc.fail'|trans }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
