{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.absence.title.index'|trans }}{% endblock %}

{% block body %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="container">       
            <header class="animated bounceInDown">
                <h1><b>{{ 'admin.absence.title.index'|trans }}</b></h1><br />
            </header>                                                                
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'admin.absence.table.details'|trans }}</th>
                            <th scope="col">{{ 'admin.absence.table.email'|trans }}</th>
                            <th scope="col">{{ 'admin.absence.table.date'|trans }}</th>
                            <th scope="col">{{ 'admin.absence.table.period'|trans }}</th>
                            <th scope="col">{{ 'admin.absence.table.excuse'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for absence in absences %}
                        <tr>
                            <td><a href="{{ path('app.admin.absence.show', {'id': absence.id} ) }}"><i class="pe-7s-plus" style="font-size:30px;margin-top:4px"></i></a></td>
                            <td>{{ absence.student.user.email }}</td>
                            <td>{{ absence.date|date('d-m-Y') }}</td>
                            <td>{{ absence.period }}</td>
                            <td>{{ absence.excuse }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
