{% extends 'base.html.twig' %}

{% block title %}Hello AbsenceController!{% endblock %}

{% block body %}
    <div class="container">       
        <header class="animated bounceInDown">
            <h1><b>Abscence de {{ absence.student.user.email }}</b></h1><br />
        </header>                
        <div class="container">  
            <p>
                L'étudiant {{ absence.student.user.email }} a été abscent {{ absence.period == "AM" ? ' le matin du ' : " l'après-midi du " }} {{ absence.date|date('d-m-Y') }}.
            </p>
            {% if absence.excuse is not empty %}
                <p>Justificatif : </p>
                <ul>
                    <li>{{ absence.excuse }}</li>
                </ul>
            {% else %}
                <p>Il n'y a aucun justificatif pour cette abscence.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
