{{ form_start(form, {'attr': {'id': 'formDataSchema'}}) }}
    {{ form_widget(form) }}

    {{ include('_monaco.html.twig', { content: data_schema.equivalence ? data_schema.equivalence|json_encode(constant('JSON_PRETTY_PRINT')) : '{}' }) }}
    <button type="submit" class="btn btn-primary">{{ submitButtonLabel }}</button>
{{ form_end(form) }}
