{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.etl.data_schema.title.data_schema'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.etl.data_schema.title.data_schema'|trans }}</h1>

    <a href="{{ path('app.admin.etl.data_schema.index') }}">{{ 'form.misc.back_to_list'|trans }}</a>
    <a href="{{ path('app.admin.etl.data_schema.edit', {'id': data_schema.id}) }}">{{ 'form.misc.edit'|trans }}</a>

    <ul>
        <li><b>{{ 'admin.etl.data_schema.table.id'|trans }}:</b> {{ data_schema.id }}</li>
        <li><b>{{ 'admin.etl.data_schema.table.label'|trans }}:</b> {{ data_schema.label }}</li>
        <li><b>{{ 'admin.etl.data_schema.table.schema'|trans }}:</b>
            <pre><code>{{ data_schema.equivalence ? data_schema.equivalence|json_encode(constant('JSON_PRETTY_PRINT')) : '' }}</code></pre>
        </li>
    </ul>
{% endblock %}
