{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.etl.data_schema.title.data_schema'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('highlight') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('highlight') }}
{% endblock %}

{% block body %}
    <h1>{{ 'admin.etl.data_schema.title.data_schema'|trans }} {{ data_schema.label }}</h1>

    <div class="row">
        <div class="col-6 text-center">
            <button class="btn btn-primary my-5">
                <a href="{{ path('app.admin.etl.data_schema.index') }}" style="text-decoration:none;color:white">{{ 'form.misc.back_to_list'|trans }}</a>
            </button>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-warning my-5" style="background-color:#FF9500">
                <a href="{{ path('app.admin.etl.data_schema.edit', {'id': data_schema.id}) }}" style="text-decoration:none;color:white">{{ 'form.misc.edit'|trans }}</a>
            </button>
        </div>
    </div>
    
    <pre><code class="hljs language-json">{{ data_schema.equivalence ? data_schema.equivalence|json_encode(constant('JSON_PRETTY_PRINT')) : '' }}</code></pre>
    
   
{% endblock %}
