{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
            .carousel-indicators {position: absolute;bottom: 0%;margin: auto;height: 20px;left: 46%;right: auto;width: auto;}
            .carousel-indicators li {display: block;margin-bottom: 8px;border: 1px solid #fff;}
            .carousel-indicators li.active {margin-bottom: 8px;background: #fff;}
            .mb-space-grey{background-image:url('{{asset('build/images/Apple-Macbook-Space-Grey.png')}}');}
            .bg-faded{background-color:rgba(255,255,255,.85)}
            .lead {
                font-size: 1.0625rem;
                font-weight: 300;
            }
        </style>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('konami') }}
            {{ encore_entry_script_tags('agency') }}
        {% endblock %}
    </head>
    <body>
         
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% if 'login' in currentPath %}
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #212529;margin-bottom:20px" id="mainNav">
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        {% endif %}
            <div class="container">
                <a class="navbar-brand" href="#">ENT SUPINFO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav text-uppercase ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link {{ route == 'app.home' ? 'active' }}" href="{{ path('app.home') }}">{{ 'navbar.home'|trans }}</a>
                        </li>
                        {% if is_granted('ROLE_EDUCATIONAL_COORDINATOR') %}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.educational_coordinator.index' ? 'active' }}" href="{{ path('app.educational_coordinator.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% elseif is_granted('ROLE_ACADEMIC_DIRECTOR') %}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.academic_director.index' ? 'active' }}" href="{{ path('app.academic_director.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% elseif is_granted('ROLE_ACCOUNTS') %}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.accounts.index' ? 'active' }}" href="{{ path('app.accounts.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.admin.index' ? 'active' }}" href="{{ path('app.admin.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% else %} {# Student #}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.dashboard' ? 'active' }}" href="{{ path('app.dashboard.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Dev
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.admin/data_source' ? 'active' }}" href="{{ path('app.admin.etl.data_source.index') }}">Data-sources</a>
                                </li>
                            </ul>
                        </li>
                    
                    
                        <li class="nav-item ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                {{ app.user.userIdentifier }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">{{ 'navbar.my_profile'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'navbar.logout'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                            <a class="nav-link js-scroll-trigger" href="/">ACCUEIL</a>
                        </button>
                    </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <a class="nav-link js-scroll-trigger {{ route == 'app.login' ? 'active' }}" aria-current="page" href="{{ path('app.login') }}">{{ 'navbar.login'|trans }}</a>
                            </button>
                        </li>
                    {% endif %}

                        <li class="nav-item dropdown">
                            
                            <a class="nav-link dropdown-toggle" style="margin-top:9px" href="#" role="button" data-bs-toggle="dropdown">
                                {{ 'navbar.language'|trans }}
                            </a>
                           
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% for locale in locales %}
                                    <li>
                                        <a class="dropdown-item {{ locale == app.request.locale ? 'active' }}" href="{{ path('app.locale.change', { 'locale': locale }) }}">{{ locale }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
