{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">4PROJ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {{ route == 'app.home' ? 'active' }}" href="{{ path('app.home') }}">{{ 'navbar.home'|trans }}</a>
                        </li>
                        {% if is_granted('ROLE_EDUCATIONAL_COORDINATOR') %}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.educational_coordinator.index' ? 'active' }}" href="{{ path('app.educational_coordinator.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% else %} {# Student #}
                            <li class="nav-item">
                                <a class="nav-link {{ route == 'app.dashboard' ? 'active' }}" href="{{ path('app.dashboard.index') }}">{{ 'navbar.dashboard'|trans }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Entities
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.campus' ? 'active' }}" href="{{ path('app.campus.index') }}">{{ 'navbar.campus'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.company' ? 'active' }}" href="{{ path('app.company.index') }}">{{ 'navbar.companies'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.diploma' ? 'active' }}" href="{{ path('app.diploma.index') }}">{{ 'navbar.diplomas'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.gender' ? 'active' }}" href="{{ path('app.gender.index') }}">{{ 'navbar.genders'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.grade' ? 'active' }}" href="{{ path('app.grade.index') }}">{{ 'navbar.grades'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.instructor' ? 'active' }}" href="{{ path('app.instructor.index') }}">{{ 'navbar.instructors'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.level' ? 'active' }}" href="{{ path('app.level.index') }}">{{ 'navbar.levels'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.module' ? 'active' }}" href="{{ path('app.module.index') }}">{{ 'navbar.modules'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.region' ? 'active' }}" href="{{ path('app.region.index') }}">{{ 'navbar.regions'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.section' ? 'active' }}" href="{{ path('app.section.index') }}">{{ 'navbar.sections'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.speciality' ? 'active' }}" href="{{ path('app.speciality.index') }}">{{ 'navbar.specialities'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.staff' ? 'active' }}" href="{{ path('app.staff.index') }}">{{ 'navbar.staffs'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.student' ? 'active' }}" href="{{ path('app.student.index') }}">{{ 'navbar.students'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.user' ? 'active' }}" href="{{ path('app.user.index') }}">{{ 'navbar.users'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Dev
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {{ route starts with 'app.data_source' ? 'active' }}" href="{{ path('app.data_source.index') }}">Data-sources</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                {{ app.user.userIdentifier }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">{{ 'navbar.my_profile'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'navbar.logout'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ route == 'app.login' ? 'active' }}" aria-current="page" href="{{ path('app.login') }}">{{ 'navbar.login'|trans }}</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
