{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.staff.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.staff.misc.id'|trans }}:</b> {{ staff.id }}</li>
    <li><b>{{ 'admin.staff.misc.email'|trans }}:</b> <a href="mailto:{{ staff.user.email }}">{{ staff.user.email }}</a></li>
    <li><b>{{ 'admin.staff.misc.firstname'|trans }}:</b> {{ staff.user.firstname ?? '-' }}</li>
    <li><b>{{ 'admin.staff.misc.lastname'|trans }}:</b> {{ staff.user.lastname ?? '-' }}</li>
    <li><b>{{ 'admin.staff.misc.campus'|trans }}:</b>
        <ul>
        {% if staff.campus is empty %}
            <li>-</li>
        {% else %}
            {% for campus in staff.campus %}
                <li>{{ campus.label }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
