{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.accounts_payment_type.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.accounts_payment_type.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.accounts_payment_type.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.accounts_payment_type.table.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for accountsPaymentType in accountsPaymentTypes %}
        <tr>
            <td><a href="{{ path('app.admin.accountsPaymentType.show', {'id': accountsPaymentType.id} ) }}">{{ accountsPaymentType.id }}</a></td>
            <td>{{ accountsPaymentType.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
