{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.accounts_payment_type.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.accounts_payment_type.misc.id'|trans }}:</b> {{ accountsPaymentType.id }}</li>
    <li><b>{{ 'admin.accounts_payment_type.misc.label'|trans }}:</b> {{ accountsPaymentType.label }}</li>
    <li><b>{{ 'admin.accounts_payment_type.misc.students'|trans }}:</b>
        <ul>
        {% if accountsPaymentType.students is empty %}
            <li>-</li>
        {% else %}
            {% for student in accountsPaymentType.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
