{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.role.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.role.misc.id'|trans }}:</b> {{ role.id }}</li>
    <li><b>{{ 'admin.role.misc.from'|trans }}:</b> {{ role.from ?? '-' }}</li>
    <li><b>{{ 'admin.role.misc.to'|trans }}:</b> {{ role.to ?? '-' }}</li>
</ul>
{% endblock %}
