{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.grade.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.grade.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.grade.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.grade.table.email'|trans }}</th>
            <th scope="col">{{ 'admin.grade.table.module'|trans }}</th>
            <th scope="col">{{ 'admin.grade.table.grade'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td><a href="{{ path('app.admin.grade.show', {'id': grade.id} ) }}">{{ grade.id }}</a></td>
            <td>{{ grade.student.user.email }}</td>
            <td>{{ grade.module.label }}</td>
            <td>{{ grade.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
