{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('full_calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('full_calendar') }}
{% endblock %}


{% block body %}
<h1>{{ 'dashboard.title.index'|trans }}</h1>
<h4>{{ student.user.firstName|capitalize  }} {{ student.user.lastName|upper }}</h4>

<ul>
    <li><a href="{{ path('app.module.index') }}">{{ 'dashboard.misc.module_list'|trans }}</a></li>
    <li>{{ 'dashboard.misc.report_card_list'|trans }}:
        <ul>
        {% for level in levels %}
            <li><a href="{{ path('app.report_card.show', {'level': level.id}) }}">{{ level.label }}</a></li>
        {% endfor %}
        </ul>
    </li>
</ul>

{{ include('_planning.html.twig', { url: path('app.planning_events.index') }) }}

{% endblock %}
