{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.gender.title.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.gender.title.index'|trans }}</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">{{ 'admin.gender.table.id'|trans }}</th>
            <th scope="col">{{ 'admin.gender.table.label'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for gender in genders %}
        <tr>
            <td><a href="{{ path('app.admin.gender.show', {'id': gender.id} ) }}">{{ gender.id }}</a></td>
            <td>{{ gender.label }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
