{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.gender.title.show'|trans }}{% endblock %}

{% block body %}
<ul>
    <li><b>{{ 'admin.gender.misc.id'|trans }}:</b> {{ gender.id }}</li>
    <li><b>{{ 'admin.gender.misc.label'|trans }}:</b> {{ gender.label }}</li>
    <li><b>{{ 'admin.gender.misc.students'|trans }}:</b>
        <ul>
        {% if gender.students is empty %}
            <li>-</li>
        {% else %}
            {% for student in gender.students %}
                <li>{{ student.user.email }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}
