{% extends 'base.html.twig' %}

{% block title %}{{ 'academic_director.partnership.title.show'|trans }} {{ partnership.label ?? '' }}{% endblock %}

{% block body %}
<img class="m-3" src="{{ partnership.imageUrl }}" alt="">
<ul>
    <li><b>{{ 'academic_director.partnership.misc.id'|trans }}:</b> {{ partnership.id }}</li>
    <li><b>{{ 'academic_director.partnership.misc.label'|trans }}:</b> {{ partnership.label ?? '-' }}</li>
    <li><b>{{ 'academic_director.partnership.misc.description'|trans }}:</b> {{ partnership.description ?? '-' }}</li>
</ul>
{% endblock %}
